<style>

header {
	background-color: #333333;
}

h1 {
	background-color: #333333;
	color: #eee;
	font-size: 28px;
	text-align: center;
	display: block;
	height: 40px;
	padding: 10px 0px 0px 0px;
}

.container {
	margin: 0 auto;
	width: 1024px;
}

#main-bio, #bio-image, #contact-info {
	float: left;
}

#bio-image {
	width: 200px;
	margin: 10px 10% 10px 0px;
}

#main-bio {
	width: 60%;
	margin: 10px 8% 10px 0px;
}

#contact-info {
	width: 30%;

}

a {
	color: #d21034;
}

body {
	background-color: #efeee7;
	font-family: "Georgia",Times New Roman,Times,serif;
	color: #333333;
	margin: 0;
	padding: 0;
	line-height: 150%;
}

</style>